.profile {
  margin: auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.profile .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile .name,
.profile .tag,
.profile .location {
  margin-bottom: 10px;
}

.profile .name {
  font-size: 25px;
  font-weight: bold;
}

.profile .tag,
.profile .location {
  font-size: 15px;
  font-weight: lighter;
}

.profile .stats {
  display: flex;
  justify-content: space-between;
  background-color: #f3f6f9;
  border-top: 1px solid #e4e9f0;
}

.profile .stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: calc(100% / 3);
  display: flex;
  padding: 30px;
}

.profile .stat-item:not(:last-child) {
  border-right: 1px solid #e4e9f0;
}

.profile .quantity {
  font-weight: bold;
}
